.container {
	border: 1px solid black;
	display: flex;
}
.column.large {
	width: 630px;
	border: 1px solid black;
	
}
.column.medium {
	width: 300px;
	border: 1px solid black;
}
.column.small {
	width: 240px;
	border: 1px solid black;
}
.top.image {
	border: 1px solid black;
}
.hipster {
	color: white;
	background-image: url("../images/hipster.png");
}
.nav {
	display: flex;
	flex-direction: row-reverse;
	
}
.news.bites {
	display: flex;
	justify-content: flex-start;
}

