/* ##### THIS IS THE HEADER ##### */
.header {
	display: inline-flex;
	display: fixed;
	border-bottom: 1px solid black;
	width: 100%;
	align-items: center;
}
.logo {
	display: flex;
	width: 100%;
}
.logo img {
	padding-bottom: 10px;
}
.logo p {
	padding-left: 20px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: MediumAquamarine;
	align-self: auto;
}
.navigation {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.list {
	padding: 30px;
	width: 100%;
}
.list a {
	color: black;
}
